@font-face {
  font-family: 'AdobeMyungjoStd';
  src: url('./fonts/AdobeMyungjoStd-Medium.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Rubik';
  src: url('./fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Rubik', serif;
}
