@import './varaibles.css';

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Large devices (desktops) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 900px;
  }
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 15px; /* Adjust padding for smaller screens */
  }
}
