:root {
  --color-black: 51, 51, 51;
  --color-white: 245, 245, 245;
  --color-accent: 69, 63, 120;
  --color-primary: 167, 146, 119;
  --color-secondary: 234, 216, 192;

  --logo-size: 150px;
  --logo-max-height: 50px;

  --layout-header-font-size: 18px;
  --layout-header-padding: 10px;

  --layout-header-size: calc(
    var(--logo-max-height) + (var(--layout-header-padding) * 2)
  );

  --card-badge-font-size: 18px;
  --card-badge-padding-y: 5px;
  --card-badge-padding-x: 10px;

  --transition: 0.2s ease-in-out;
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  :root {
  }
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  :root {
    --logo-max-height: 60px;

    --layout-header-padding: 12px;

    --layout-header-size: calc(
      var(--logo-max-height) + (var(--layout-header-padding) * 4) +
        var(--layout-header-font-size) * 3.5
    );
  }
}

@media (max-width: 440px) {
  :root {
    --layout-header-font-size: 14px;
  }
}
