:root {
  --color-black: 51, 51, 51;
  --color-white: 255, 255, 255;
  --color-accent: 69, 63, 120;
  --color-primary: 167, 146, 119;
  --color-secondary: 234, 216, 192;

  --layout-header-size: 45px;
  --transition: 0.2s ease-in-out;
}
