.product-line__title {
  text-align: center;
  font-size: 30px;
}

.product-line-description {
  color: rgb(var(--color-black));
}

.product-line-description__products,
.product-line-description__features {
  font-size: 26px;
  line-height: 28px;
  color: rgb(var(--color-black));
  font-weight: 400;
  margin: 48px 0 25px;
}

.product-line-description__features {
  margin-bottom: 0;
}

.product-line-description-features__name {
  text-transform: uppercase;
  color: rgb(var(--color-primary));
}

.product-line-description__features-banner {
  width: 100%;
  margin: 40px 0;
}

.product-line-description__features-description {
  font-size: 16px;
}

.product-line-description__products {
}

.product-line-product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  list-style: none;
  padding: 0;
  margin: 40px 0;
}

/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .product-line-product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  .product-line-product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
