.header {
  background-color: rgb(var(--color-primary));
  width: 100%;
  height: var(--layout-header-size);
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
}

.header__description {
  font-size: 18px;
  font-weight: 700;
  color: rgb(var(--color-white));
}

.header__socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.header-socials__item {
  --size: 20px;
  /* width: var(--size);
  height: var(--size); */
}

.header-socials-item__link {
  display: block;
  width: var(--size);
  height: var(--size);
}

.header-socials-item__text {
  text-transform: uppercase;
  color: rgb(var(--color-white));
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 600;
}

.header-socials-item-link__image {
  /* width: var(--size);
  height: var(--size); */
  width: 100%;
  height: 100%;
}
