.header {
  background-color: rgb(var(--color-primary));
  width: 100%;
  height: var(--layout-header-size);
  padding: var(--layout-header-padding) 0;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  line-height: 0;
}

.header-logo__image {
  /* width: var(--logo-size); */
  height: 100%;
  max-height: var(--logo-max-height);
}

.header__description {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: rgb(var(--color-white));
  margin: 0 auto;
}

.header-description__hubis {
  color: #3a496e;
}

.header-description__lab {
  color: #ed3137;
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--layout-header-padding);
  }
  .header__description {
    margin: 0;
  }
}
/* Small devices (mobile phones) */
@media (max-width: 430px) {
  .header__description {
    font-size: 16px;
    line-height: 16px;
  }
}
