.header {
  background-color: rgb(var(--color-white));
  width: 100%;
  height: var(--layout-header-size);
  padding: var(--layout-header-padding) 0;
}

.header-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  display: inline-block;
  line-height: 0;
}

.header-logo__image {
  /* width: var(--logo-size); */
  height: 100%;
  max-height: var(--logo-max-height);
}

.header__description {
  font-size: var(--layout-header-font-size);
  line-height: var(--layout-header-font-size);
  font-weight: 700;
  color: rgb(var(--color-black));
  margin: 0 auto;
}

.header-description__hubis {
  color: #3a496e;
}

.header-description__lab {
  color: #ed3137;
}

.header__catalog {
  text-decoration: none;
  color: rgb(var(--color-black));
  position: relative;
  padding: calc(var(--layout-header-padding) / 2);
  font-size: var(--layout-header-font-size);
  line-height: var(--layout-header-font-size);
}

.header__catalog::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: rgb(var(--color-black));
  transition: var(--transition);
}

.header__catalog:hover.header__catalog::after {
  width: 100%;
}

/* Small devices (mobile phones) */
@media (max-width: 767px) {
  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--layout-header-padding);
  }
  .header__description {
    margin: 0;
  }
}
/* Small devices (mobile phones) */
@media (max-width: 430px) {
  .header__description {
    font-size: 16px;
    line-height: 16px;
  }
}
